
.indice{

	position: fixed;
	top: 20%;
	right: 0%;
	width: 10%;
	height: 60%;

}


.bini{
	position: absolute;
	background-color: white;
	top: 0%;
	right: 0%;
	width: 150%;
	height: 20%;
	opacity: 0.75;
	color: green;
	border: solid green 1px;
	font-size: 2.5vw;
	font-family: 'oswald';
	text-align: center;
}

.bini:hover{
	width: 250%;
	opacity: 1;
}

.bqes{
	position: absolute;
	background-color: white;
	top: 20%;
	right: 0%;
	width: 150%;
	height: 20%;
	color: green;
	opacity: 0.75;
	border: solid green 1px;
	font-size: 2.5vw;
	font-family: 'oswald';
	text-align: center;
}

.bqes:hover{
	width: 250%;
	opacity: 1;
}

.bpar{
	position: absolute;
	background-color: white;
	top: 40%;
	right: 0%;
	width: 150%;
	height: 20%;
	opacity: 0.75;
	color: green;
	border: solid green 1px;
	font-size: 2.3vw;
	font-family: 'oswald';
	text-align: center;
}

.bpar:hover{
	width: 250%;
	opacity: 1;
}

.beje{
	position: absolute;
	background-color: white;
	top: 60%;
	right: 0%;
	width: 150%;
	height: 20%;
	opacity: 0.75;
	color: green;
	border: solid green 1px;
	font-size: 2.5vw;
	font-family: 'oswald';
	text-align: center;
}

.beje:hover{
	width: 250%;
	opacity: 1;
}

.bcib{
	position: absolute;
	background-color: white;
	top: 80%;
	right: 0%;
	width: 150%;
	height: 20%;
	opacity: 0.75;
	color: green;
	border: solid green 1px;
	font-size: 2.5vw;
	font-family: 'oswald';
	text-align: center;
}

.bcib:hover{
	width: 250%;
	opacity: 1;
}






.q{
	position: absolute;
	background-color: white;
	top: 10%;
	left: 10%;
	width: 1000px;
	height: 600px;
	border-radius: 4vw;
	border: grey 0.3vw solid;
}
.q1{
	position: relative;
	background-color: #F1F1F1;
	top: 1050px;
	left: 10%;
	width: 1000px;
	height: 600px;
	color: white;
	border-radius: 4vw;
	border: grey 0.3vw solid;
	
}

.q2{
	position: relative;
	background-color: #F1F1F1;
	top: 2100px;
	left: 10%;
	width: 1000px;
	height: 600px;
	border-radius: 4vw;
	border: grey 0.3vw solid;

}

.q3{
	position: relative;
	background-color: #F1F1F1;
	top:3150px;
	left: 10%;
	width: 1000px;
	height: 600px;
	border-radius: 4vw;
	border: grey 0.3vw solid;
	
}

.q4{
	position: relative;
	background-color: #F1F1F1;
	top: 4200px;
	left: 10%;
	width: 1000px;
	height: 600px;
	border-radius: 4vw;
	border: grey 0.3vw solid;
	
}

.titulos{
	position: absolute;
	background-color: #107C41;
	top: 7%;
	left: 10%;
	height: 10%;
	width: 35%;
	color: white;
	font-size: 2.5vw;
	font-family: 'oswald';
	text-align: center;
	border-radius: 4vw;
	border: grey 0.3vw solid;
}

.texto{
	position: absolute;
	background-color: #33C481;
	top: 20%;
	left: 10%;
	height: 450px;
	width: 460px;
	color: white;
	font-size: 1.3vw;
	font-family: 'roboto';
	text-align: center;
	border-radius: 4vw;
}

.texto1{
	position: absolute;
	background-color: #33C481;
	top: 20%;
	left: 10%;
	height: 450px;
	width: 460px;
	color: white;
	font-size: 1.5vw;
	font-family: 'roboto';
	text-align: center;
	border-radius: 4vw;
}

.iqes{
	position: absolute;
	top: 23%;
	right: 5%;
	width: 360px;
	border: grey solid 4px;
}

.ipa{
	position: absolute;
	top: 33%;
	right: 3.5%;
	width: 360px;
	border: grey solid 4px;
}

.tp{
	position: absolute;
	top: -14%
}

.links{
	position: absolute;
	top: 23%;
	left: 0%;
	height: 450px;
	width: 1000px;
	color: green;
	font-size: 2.5vw;
	font-family: 'roboto';
	text-align: center;
	border-radius: 4vw;
}

.ej1{
	position: absolute;
	bottom: 3%;
	right: 5%;
	width: 430px;
	border: grey solid 4px;
}
.ej2{
	position: absolute;
	top: 5%;
	right: 5%;
	width: 560px;
	border: grey solid 4px;
}
.ej3{
	position: absolute;
	bottom: 5%;
	right: 50%;
	width: 460px;
	border: grey solid 4px;
}

.fondo{
	position: absolute;
	bottom: -20%;
	height: 10%;
	left: 10%;
	width: 100%;
	background-color: white;
	color: white;
	
}

.aparecer{
	opacity: 1;
	animation-duration: 3s;
  	animation-name: aparicion;
}

@keyframes aparicion{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.no{
	display: none;
}

.boton{
	position: absolute;
	bottom: 10%;
	left: 59%;
	width: 13%;
	cursor: default;
	text-align: center;
	border-radius: 4vw;
	border: grey 0.3vw solid;
	font-size: 2vw;
	font-family: 'oswald';

}

.boton:hover{
	width: 15%;
	height: 10%;
	bottom: 10%;
	left: 59%;
}